/*VARIABLES*/
:root {
  --bg-clr: #f8f8f8;
}
/*General Styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--bg-clr);
}
.container {
  max-width: 1250px;
  margin: 2em auto;
  padding: 0 2em;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: rgb(9, 44, 81);
  user-select: none;
}
hr {
  border: 1px solid rgba(0, 0, 0, 0.342);
  margin: 1.5em 0 2em;
  border-radius: 1px;
  user-select: none;
}
.under-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 1em;
}
.new-task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
.add-task {
  display: flex;
  align-items: center;
  background-color: #f2224b;
  font-size: 1rem;
  gap: 0.2em;
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.add-task:hover {
  opacity: 0.8;
}
.filters {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 0.2em;
  padding: 0.5em 1.5em 0.5em 1em;
  border-radius: 20px;
  font-size: 1rem;
  text-transform: capitalize;
  gap: 0.4em;
  cursor: pointer;
  user-select: none;
}
.filters:hover {
  opacity: 0.75;
}
.filters-menu {
  display: flex;
  gap: 1em;
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 40px;
  background-color: rgb(52, 51, 51);
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}
.filters-menu.visible {
  opacity: 1;
  pointer-events: auto;
}
.filters-menu button {
  padding: 0.5em 1.2em;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  color: rgb(41, 41, 41);
  text-transform: capitalize;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.done {
  border: 2px solid #333;
}

.done:hover {
  background-color: #06ec75;
  color: #ffffff;
  font-weight: 700;
}

.js-pending {
  border: 2px solid #333;
}

.js-pending:hover {
  background-color: #e19d0b;
  color: #ffffff;
  font-weight: 700;
}
.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  user-select: none;
}
.checkbox {
  position: relative;
  align-self: flex-start;
  margin-top: 1.5em;
}
.checkbox input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  top: 0;
  left: 0;
  border: 2px solid #f2224b;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.checkbox input:checked ~ .checkmark {
  border: 2px solid #f2224b;
  background-color: #ffe6e6;
  opacity: 0;
}
.checkbox input:checked ~ .checkmark::after {
  content: "";
  position: absolute;
  border: solid #f2224b;
  left: 9px;
  top: 4px;
  width: 3px;
  height: 11px;
  border-width: 0 3.5px 3.5px 0;
  border-radius: 2px;
  transform: rotate(45deg);
  opacity: 0;
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.task-container {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
  background-color: #f2f2f2;
  padding: 0 1em;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.task {
  font-size: 2rem;
  font-weight: 400;
}
.task-infos-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.2em 1em;
  border-radius: 10px;
  width: 100%;
}
.task-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-lower {
  display: flex;
  align-items: center;
  gap: 2em;
  user-select: none;
}

.add-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.task-date {
  background-color: transparent;
  border: 1.5px solid #686868;
  padding: 0.5em 0.7em;
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: 600;
  cursor: pointer;
}
/*Task page STYLING end*/
